<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <style>
        table,td,th{
            border: 1px solid black;
            font-size: 30px;
        }
    </style>
    <script src="jquery.min.js"></script>
    <script src="admin.js"></script>
    <title>Admin</title>
</head>
<body>
    <div id='eventData'>
        <h1>Event Data</h1>
        <table id='eventTable'>
            <tr>
                <th>name</th>
                <th>place</th>
                <th>time</th>
                <th>seats</th>
            </tr>
            
        </table>
    </div>
    <div id='accountData'>
        <h1> Account Data</h1>
        <table id='accountTable'>
            <tr>
                <th>username</th>
                <th>first name</th>
                <th>last name</th>
                <th>email</th>
            </tr>
            
        </table>
    </div>
</body>
</html>