<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='itinerary.js'></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="itinerary.css">
    <title>Document</title>
</head>
<body>
    <div id='header'></div>

    <div id='itinerary'>
       <table id='itineraryTable'>
           <tr>
            <th>Event Name</th>
            <th>Place</th>
            <th>time</th>
        
       </table>
    </div>
</body>
</html>